<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Header/Footer Comp</title>



    <!-- FONTAWESOME  -->
    <script src="https://kit.fontawesome.com/937b7e56e6.js" crossorigin="anonymous"></script>

    <!-- FLAGS -->
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.11.0/css/flag-icons.min.css"
/>

    <!-- GOOGLE FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">

    <!-- STYLE SHEETS  -->
    <link rel="stylesheet" type="text/css" href="/CSS/global/styles.css"/>
    <link rel="stylesheet" type="text/css" href="/Assets/components/headers_footers/header_footer.css"/>



    <!-- http://127.0.0.1:5500/Assets/components/headers_footers/header_footer.html -->

</head>

<body>

    <div class="design-system-header">
        <div class="design-system-logo">
            <a href="index.html"><img src="/Assets/img/Sport Wales logos/Logos - White/Sport Wales - Logo_White.svg" alt="Sport Wales Logo"></a>
        </div>

        <div class="design-system-nav">
            <ul class="hover-list">
                <li><a style="color: white;"  href="/Assets/menu.html"> Menu </a></li>
            </ul>
        </div>
        <h1>DESIGN SYSTEM</h1>
    </div>

    <div class="design-system-container">
    

    <!-- SPORT WALES HEADER 1  -->
    <div class="sw_header1">
        <div class="sw_logo">
            <a href="index.html"><img src="/Assets/img/Sport Wales logos/Logos - White/Sport Wales - Logo_White.svg" alt="Sport Wales Logo"></a>
        </div>

        <div class="sw_nav">
            <ul class="hover-list">
                <li><a href="index.html">Home</a></li>
                <li><a href="index.html">Funding</a></li>
                <li><a href="index.html">Booking</a></li>
                <li><a href="index.html">Learning</a></li>
            </ul>
        </div>

        <div class="account">
            <i style="color: white;" class="fa-solid fa-cart-shopping"></i>
            <i  style="color: white;" class="fa-solid fa-user"></i>
            <div class="lang-picker">
                <span class="fi fi-gb"></span>
                <p style="color: white;">EN</p>
                <i style="color: white;" class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </div>



    <!-- SPORT WALES FOOTER 1  -->

    <div class="sw_footer1">
        <div class="sw_logo">
            <a href="index.html"><img src="/Assets/img/Sport Wales logos/Logos - White/Sport Wales - Logo_White.svg" alt="Sport Wales Logo"></a>
        </div>

        <div class="sw_footer-nav">
            <ul>
                <li ><a class="title-list" href="index.html">Sport Wales</a></li>
                <li><a href="index.html">About us</a></li>
                <li><a href="index.html">Main Website</a></li>
                <li><a href="index.html">Where we are</a></li>
                
            </ul>
            <ul>
                <li ><a class="title-list" href="index.html">Find out more</a></li>
                <li><a href="index.html">Privacy</a></li>
                <li><a href="index.html">Accessibility</a></li>
                <li><a href="index.html">Cookie policy</a></li>
                <li><a href="index.html">Freedom of Information</a></li>
            </ul>
        </div>
        
        <div class="account-btn-container">
            <div class="account-btn-primary"> Register</div>
            <div class="account-btn-secondary"> Log in</div>
        </div>
        
        
    </div>
    </div>

    
</body>

</html>