/* -- HEADER/FOOTER STYLE SHEET --  */

/* -- TABLE OF CONTENT -- */

/* - ROOT VARIABLES */
/* - SPORT WALES HEADER 1 STYLE */
/*    - Sport Wales Navigation  */
/*    - Navigation list */
/*    - CARD STYLES */
/* - SPORT WALES FOOTER 1 STYLE */
/*    - Footer Logo  */
/*    - Acount Button Container */

/* ----- Media Queries ----- */
/* ## TABLET STYLES */
/* - SPORT WALES FOOTER 1 STYLE */
/* ## LAPTOP STYLES */
/* - SPORT WALES FOOTER 1 STYLE */
/* ## DESKTOP STYLES */
/* - SPORT WALES FOOTER 1 STYLE */


/* ROOT VARIABLES */


:root {
  --mobile-max: 768px;
  --tablet-max: 1024px;
  --laptop-min: 1025px;
  --laptop-max: 1440px;
  --desktop-min: 1441px;

  --primary-color: #AA0D1B;
  --secondary-color: #164B63;
  --bg-color: #f5f5f5;

  --text-color: black;
  --box-shadow: 0px 0px 46px 0px rgba(99, 99, 99, 0.15);
  --border-radius: 0.8rem;
  --btn-padding: 10px 20px;
}

/* lang-picker */

.lang-picker {
  display: flex;
  padding: 5px 5px;
  font-size: 10px;
  background-color: rgb(210, 208, 208);
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

/* lang-picker */

.lang-picker_en,
.lang-picker_cy  {
  display: flex;
  padding: 5px 5px;
  font-size: 10px;
  background-color: rgb(210, 208, 208);
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

/*  lang-picker span */

.lang-picker_en span,
.lang-picker_cy span {
  margin-right: 2px;
}

.lang-picker_en p,
.lang-picker_cy p {
  margin-bottom: 0px;
}

/* SPORT WALES HEADER 1 STYLE */

/* Sport Wales Header */

.sw_header1 {
  display: flex;
  background-color: #164b63;
  font-family: "Montserrat", sans-serif;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Sport Wales Navigation */
.sw_nav {
  display: none;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
}

.menu-btn {
  display: block;
  position: relative;
  margin: 0px 10px; 
}

.menu-icon {
  color: white;
  font-size: 18px;
}


.sw_header1 ul {
  margin-bottom: 0px;
}

/* Navigation list */

.sw_nav ul li {
  display: inline-block;
  list-style: none;
  position: relative;
  margin: 0 10px;
}

.sw_header1 ul li a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.navbar-collapse  {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 10%;
}

.navbar-collapse ul li {
  display: block;
}



.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin: 5px;
}


.account i {
  margin: 4px;
}


/* SPORT WALES FOOTER 1 STYLE */

.sw_footer1 {
  padding: 20px 20px;
  margin-top: 50px;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #164b63;
  font-family: "Montserrat", sans-serif;
  grid-template-areas: 
    "account"
    "nav"
    "logo";
}

/* Footer Logo */
.sw_footer1 .sw_logo {
  width: 180px;
  grid-area: logo;
  margin: 0px auto;
}

.sw_footer-nav {
  position: relative;
  right: 0px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  grid-area: nav;
}

.sw_footer-nav ul {
  margin: 10px;
}

.sw_footer-nav ul li a {
  color: rgba(255, 255, 255, 0.539);
  text-decoration: none;
  font-size: 8px;
}

.sw_footer-nav ul .title-list {
  color: white;
  font-size: 8px;
}

/* Acount Button Container */

.account-btn-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  align-items: center;
  grid-area: account;
}

/* Media Queries */


/*   ## TABLET STYLES (769px or bigger) */
@media screen and (min-width: 769px) {
  /*    Your tablet-specific styles go here */

  .sw_nav {
    display: flex;
  }
  .menu-icon  {
    display: none;
  }

  .sw_footer1 {
    display: flex;
    justify-content: space-between;
    
  }
  
  .sw_footer1 .sw_logo {
    margin: 0px 0px;
  }


}

/*   ## TABLET STYLES (769px to 1024px wide) */
@media screen and (min-width: var(--mobile-max)) and (max-width: var(--tablet-max)) {
  /*    Your tablet-specific styles go here */


  /* SPORT WALES FOOTER 1 STYLE */
  .sw_footer1 {
    margin-top: 70px;
  }
}


/*   ## LAPTOP STYLES (1025px to 1440px wide) */
@media screen and (min-width: var(--laptop-min)) and (max-width: var(--laptop-max)) {
  /*    Your laptop-specific styles go here */


  /* SPORT WALES FOOTER 1 STYLE */
  .sw_footer1 {
    margin-top: 100px;
  }
}


/*   ## DESKTOP STYLES (1441px wide and above) */
@media screen and (min-width: 1441px) {
  /*    Your desktop-specific styles go here */
  .sw_header1 {
    min-height: 4%;
  }


  /* SPORT WALES FOOTER 1 STYLE */
  .sw_footer1 {
    margin-top: 120px;
    min-height: 12%;
  }
}
