{% extends "base.njk" %}

    {% block content %}
        <main>
            <div class="container">
                
                <nav  class="breadcrumbs"  aria-label="breadcrumb">
                    <ol style="background-color: transparent;" class="breadcrumb">
                        <li class="breadcrumb-item"><a href="portal.html">Cartref</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Cyllid a chefnogaeth</li>
                    </ol>
                </nav>
                <!-- FIRST CARD: YOUR FUNDING APPLICATIONS-->
                <h1 class="font-weight-bold mt-3 mb-5">Cyllid a chefnogaeth</h1>
                <div class="card">
                    <div class="container">
                        <h2 class="font-weight-bold mt-5 pl-4 pb-4">Eich ceisiadau am gyllid</h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="pl-4 pb-4">
Gwnaethoch gais am y <strong>Be Active Wales Fund</strong> 
ar y <strong>
18fed Hydref 2022.</strong></p>
                            </div>
                            <div class="col-lg-6">
                                <p class="pl-4 pb-4"><strong>
Statws cais: </strong>
Arfaeth</p>
                                <div class="pl-4">
                                    <div class="btn btn-danger pl-4 pr-4">Gweld cais</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SECOND CARD: COMMUNITY SPORT GRANTS -->
                <div class="card">
                    <div class="container">
                        <h2 class="font-weight-bold mt-5 pl-4 pb-4">
Grantiau chwaraeon cymunedol</h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="pl-4 pb-4">Cronfa Bod yn Egnïol Cymru</h3>
                                <p class="pl-4">Eich helpu i gynyddu cyfranogiad mewn chwaraeon a gweithgareddau eraill.</p>
                                <p class="pl-4">The Fund aims to help clubs and community organisations to:</p>
                                <!-- TODO: Figure out why bullet points aren't coming up natively -->
                                <ul class="pl-5">
                                    <li>- lleihau anghydraddoldeb</li>
                                    <li>- 
creu cynaliadwyedd hirdymor</li>
                                    <li>- 
cyflwyno ffyrdd newydd o weithredu</li>
                                </ul>
                                <div class="pl-4">
                                    <div class="btn btn-danger mt-2 mb-4">
Gwnewch gais</div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h3 class="pl-4 pb-4">
Crowdfunder</h3>
                                <p class="pl-4">Mynnwch hyd at £15,000 i wella eich cyfleuster chwaraeon cymunedol drwy ariannu torfol.</p>
                                <p class="pl-4">Byddwn yn cyfateb rhwng 30% a 50% o'r cyfanswm a godwch trwy ariannu torfol.</p>
                                <div class="pl-4">
                                    <div class="btn btn-danger mt-3 mb-3">
Gwnewch gais ar Crowdfunder</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- THIRD CARD: PERFORMANCE AND ELITE SPORT GRANTS-->
                <div class="card">
                    <div class="container">
                        <h2 class="font-weight-bold mt-5 pl-4 pb-4">Elite Cymru</h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="pl-4 pb-4">Elite Cymru</h3>
                                <p class="pl-4">Ar gyfer athletwyr elitaidd mewn chwaraeon nad ydynt yn rhai Olympaidd a heb fod yn Baralympaidd.</p>
                                <p class="pl-4">Gallwch wneud cais trwy wahoddiad yn unig. Siaradwch â'ch corff llywodraethu.</p>
                                <div class="pl-4">
                                    <div class="btn btn-outline-danger mt-2 mb-4">
Gofynion Cais</div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h3 class="pl-4 pb-4">Talent Cymru</h3>
                                <p class="pl-4">For help with the cost of competing.</p>
                                <p class="pl-4">
Siaradwch â'ch corff llywodraethu i wneud cais.</p>
                                <div class="pl-4">
                                    <div class="btn btn-outline-danger mt-2 mb-4">Gofynion Cais</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>


    {% endblock %}