{% extends "base.njk" %}

    {% block content %}
    <div class="main">
        <div class="home-bg-image">
            <h1 class="font-weight-bold mb-2" >
Porth Chwaraeon Cymru</h1>
            <p>
            Croeso i'r Porth, lle gallwch ddysgu, gwneud cais am gyllid a gwneud a
            archebu i gyd mewn un lle
            </p>
        </div>
        <div class="container">
            <!-- CARD 1 -->

            <div class="card-container">
            
            <a href="funding.html" class="card1">
                <div class="card-item">
                <div class="circle-icon">
                    <i class="fa-solid fa-2xl fa-hand-holding-heart"></i>
                </div>
                <p>Cefnogaeth ac Ariannu</p>
                </div>
            </a>
            
            <a href="booking.html"  class="card1">
                <div class="card-item">
                <div class="circle-icon">
                    <i class="fa-solid fa-2xl fa-book-bookmark"></i>
                </div>
                <p>
Rheoli Archebu</p>
                </div>
            </a>

            <a href="education.html" class="card1">
                <div class="card-item">
                <div class="circle-icon">
                    <i class="fa-solid fa-2xl fa-graduation-cap"></i>
                </div>
                <p>Adnoddau Addysg</p>
                </div>
            </a>
            </div>

            <div class="container">
            <h1 class="font-weight-bold mt-5 mb-5">
Eich cyfrif</h1>
            </div>

            <div class="card">
            <div class="mt-3 mb-3 pl-4 pt-4">
                <i
                style="color: #164b63; font-size: 50px"
                class="fa-solid fa-2xl fa-graduation-cap"
                ></i>
            </div>
            <h2 class="mt-3 ml-2 pl-4 pb-1 font-weight-bold">
                <strong>Eich ceisiadau am gyllid</strong>
            </h2>
            <div class="container ml-3 p-4">
                <div class="row">
                <div class="col-lg-6">
                    <p class="mb-0">
                    Gwnaethoch gais am y<strong>
Cronfa Cymru Egnïol</strong> 
ar 18 Hydref 2022
                    </p>
                    <div class="btn btn-danger mt-5">
Ewch i Ariannu</div>
                </div>
                <div class="col-lg-6">
                    <p class="mb-0" style="font-weight: bolder">
                    Statws cais
                    </p>
                    <br />
                    <p
                    class="p-1"
                    style="
                        background-color: rgb(190, 172, 217);
                        display: inline;
                        font-weight: bolder;
                    "
                    >
                    
DERBYNIWYD
                    </p>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-lg-6">
                <div class="card">
                <div class="ml-4 p-4">
                    <div class="mt-3 mb-3">
                    <i
                        style="color: #164b63; font-size: 50px"
                        class="fa-solid fa-2xl fa-book-bookmark"
                    ></i>
                    </div>
                    <h3 class="pb-3 font-weight-bold">Eich archebion</h3>
                    <p>Fe wnaethoch chi archebu<strong>Tenis</strong> ar gyfer 20 Ionawr 2022</p>
                    <br />
                    <div class="btn btn-danger mt-5">
Rheoli Archebu</div>
                </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                <div class="ml-4 p-4">
                    <div class="mt-3 mb-3">
                    <i
                        style="color: #164b63; font-size: 50px"
                        class="fa-solid fa-2xl fa-graduation-cap"
                    ></i>
                    </div>
                    <h3 class="pb-3 font-weight-bold">Eich cyrsiau</h3>
                    <p>
                    Athrawon! dod o hyd i'r adnoddau cywir ar gyfer eich myfyrwyr o gwbl lefel sgil.
                    </p>
                    <div class="btn btn-danger mt-5">Gweld yr holl Ddysgu</div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-lg-6">
                <div class="m-5">
                <div>
                    <h3 class="pb-3 font-weight-bold">
Amdanom ni</h3>
                    <p>
                    Rydym Am i Gymru fod yn genedl fwy egnïol, iachach. Rydym
                    sefydliad cenedlaethol sy'n gyfrifol am ddatblygu a hyrwyddo
                    chwaraeon a gweithgarwch corfforol yng Nghymru
                    </p>
                    <p>
                    Rydym yn sefydliad cenedlaethol sy'n gyfrifol am ddatblygu a
                    hyrwyddo chwaraeon a gweithgarwch corfforol yng Nghymru
                    </p>
                    <p>Archwiliwch mre ar ein gwaith i helpu chwaraeon yng Nghymru i ffynnu</p>
                    <div class="btn btn-danger mt-5">
Dysgwch amdanom ni</div>
                </div>
                </div>
            </div>
            <div style="background-color: transparent" class="col-lg-6">
                <div class="card map_container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9937.969090723413!2d-3.1905556!3d51.4858333!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486e1ca6c0340f07%3A0xfc485e8a14d53c4!2sSport%20Wales%20National%20Centre!5e0!3m2!1sen!2suk!4v1695201726719!5m2!1sen!2suk" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            </div>
        </div>
    </div>

    {% endblock %}