/* Home page specific styles */
/* Add styles for the services page content here */



.main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-content: center;
    
    

}


/* .sw_footer1 {
    position: absolute;
    bottom: 0px;
} */

.single-portal-layout {
    display: flex;
    justify-content: center;
    gap: 1px;

 /* margin: 0 auto; */
 /* width: 100%; */
}

.sw_title {
    margin: 140px auto;
}
.sw_title h1{
    font-weight: bolder;
    font-size: 38px;
}
