<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login/Sign Forms Comp</title>

    <!-- FONTAWESOME  -->
    <script
      src="https://kit.fontawesome.com/937b7e56e6.js"
      crossorigin="anonymous"
    ></script>

    <!-- GOOGLE FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />

    <!-- STYLE SHEETS  -->
    <link rel="stylesheet" type="text/css" href="/CSS/global/styles.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/design_container/design_container.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/Assets/components/login_signin_forms/login_signin_forms.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/Assets/components/buttons/buttons.css"
    />

    <!-- http://127.0.0.1:5500/Assets/components/login_signin_forms/login_signin_forms.html -->
  </head>

  <body>
    <div class="design-system-header">
      <div class="design-system-logo">
        <a href="index.html"
          ><img
            src="/Assets/img/Sport Wales logos/Logos - White/Sport Wales - Logo_White.svg"
            alt="Sport Wales Logo"
        /></a>
      </div>

      <div class="design-system-nav">
        <ul class="hover-list">
          <li><a style="color: white" href="/Assets/menu.html"> Menu </a></li>
        </ul>
      </div>
      <h1>DESIGN SYSTEM</h1>
    </div>

    <div class="design-system-container">
      <!-- LOGIN FORM  -->

      <div class="login_signin-container">
        <form class="login_signin-form login">
          <h2>Log in to your account</h2>
          <label for="username">Username or email address</label>
          <input type="text" id="username" name="username" required />
          <label for="password">Password:</label>
          <div class="password_input">
            <input type="password" id="password" name="password" required />
            <i class="fa-regular fa-eye"></i>
          </div>

          <div class="or_separator">
            <span></span>
            <p>or</p>
            <span></span>
          </div>
          <div class="social-login-container">
            <button class="social-button google">
              <i class="fa-brands fa-google"></i>
            </button>
            <button class="social-button facebook">
              <i class="fa-brands fa-facebook"></i>
            </button>
            <button class="social-button apple">
              <i class="fa-brands fa-apple"></i>
            </button>
          </div>
          <div class="sw_btn login-btn" type="submit">Login</div>
        </form>
      </div>

      <!-- SIGNIN FORM  -->

      <div class="login_signin-container">
        <form class="login_signin-form signin">
          <h2>Register account</h2>
          <label for="username">Username or email address</label>
          <input type="text" id="username" name="username" required />
          <label for="password">Password:</label>
          <div class="password_input">
            <input type="password" id="password" name="password" required />
            <i class="fa-regular fa-eye"></i>
          </div>

          <div class="or_separator">
            <span></span>
            <p>or</p>
            <span></span>
          </div>
          <div class="social-login-long-container">
            <button class="social-button google">
              <i class="fa-brands fa-google"></i>
              <p>Sign up with Google</p>
            </button>
            <button class="social-button facebook">
              <i class="fa-brands fa-facebook"></i>
              <p>Sign up with Facebook</p>
            </button>
            <button class="social-button apple">
              <i class="fa-brands fa-apple"></i>
              <p>Sign up with Apple</p>
            </button>
          </div>
          <div class="sw_btn signin-btn" type="submit">Register</div>
        </form>
      </div>
    </div>
  </body>
</html>
