 <!-- SPORT WALES FOOTER 1  -->
<div class="home sw_footer1">
        <div class="sw_logo">
          <a href="index.html"
            ><img
              src="../assets/img/Sport Wales logos/Logos - White/Sport Wales - Logo_White.svg"
              alt="Sport Wales Logo"
          /></a>
        </div>
  
        <div class="sw_footer-nav">
          <ul>
            <li><a class="title-list" href="index.html">Sport Wales</a></li>
            <li><a href="index.html">About us</a></li>
            <li><a href="index.html">Main Website</a></li>
            <li><a href="index.html">Where we are</a></li>
          </ul>
          <ul>
            <li><a class="title-list" href="index.html">Find out more</a></li>
            <li><a href="index.html">Privacy</a></li>
            <li><a href="index.html">Accessibility</a></li>
            <li><a href="index.html">Cookie policy</a></li>
            <li><a href="index.html">Freedom of Information</a></li>
          </ul>
        </div>
  
        <div class="account-btn-container">
          <div class="btn btn-danger">Register</div>
          <div class="btn btn-light">Log in</div>
        </div>
      </div>
    </div>