<!-- SPORT WALES HEADER 1  -->


{# {% if "{{ lang }}" == "EN" %} #}
  <div class="sw_header1">
        <div class="sw_logo">
            <a href="../index.html"><img src="../assets/img/Sport Wales logos/Logos - White/Sport Wales - Logo_White.svg" alt="Sport Wales Logo"></a>
        </div>

        <div class="sw_nav">
            <ul class="hover-list">
                <li><a href="../pages/portal.html">Homme</a></li>
                <li><a href="../pages/funding.html">Funding</a></li>
                <li><a href="../pages/booking.html">Booking</a></li>
                <li><a href="../pages/education.html">Learning</a></li>
            </ul>
        </div>

        <div class="account">
            <i style="color: white;" class="fa-solid fa-cart-shopping"></i>
            <i  style="color: white;" class="fa-solid fa-user"></i>
            <button onclick="translateToggle()" class="lang-picker_en" type="button">
                <span class="fi fi-gb"></span>
                <p style="color: black;">EN</p>
                <i style="color: black;" class="fa-solid fa-chevron-down"></i>
            </button>
        </div>
    </div>
{# {% else %}
 <div class="sw_header1">
      <div class="sw_logo">
          <a href="../index.html"><img src="../assets/img/Sport Wales logos/Logos - White/Sport Wales - Logo_White.svg" alt="Sport Wales Logo"></a>
      </div>

      <div class="sw_nav">
          <ul class="hover-list">
              <li><a href="pages/portal.html">Cartref</a></li>
              <li><a href="pages/funding.html">
               Ariannu</a></li>
              <li><a href="pages/booking.html">Archebu</a></li>
              <li><a href="pages/education.html">
               Dysgu</a></li>
          </ul>
      </div>

      <div class="account">
          <i style="color: white;" class="fa-solid fa-cart-shopping"></i>
          <i  style="color: white;" class="fa-solid fa-user"></i>
          <button onclick="translateToggle()" class="lang-picker_cy" type="button">
              <span class="fi fi-gb"></span>
              <p style="color: black;">CY</p>
              <i style="color: black;" class="fa-solid fa-chevron-down"></i>
          </button>
       </div>
      </div>
{% endif %} #}
