<!-- SPORT WALES HEADER 1  -->
<div class="sw_header1">
        <div class="sw_logo">
            <a href="index.html"><img src="../assets/img/Sport Wales logos/Logos - White/Sport Wales - Logo_White.svg" alt="Sport Wales Logo"></a>
        </div>

        <div class="sw_nav">
            <ul class="hover-list">
                <li><a href="pages/portal.html">Home</a></li>
                <li><a href="pages/funding.html">Funding</a></li>
                <li><a href="pages/booking.html">Booking</a></li>
                <li><a href="pages/education.html">Learning</a></li>
            </ul>
        </div>

        <div class="account">
            <i style="color: white;" class="fa-solid fa-cart-shopping"></i>
            <i  style="color: white;" class="fa-solid fa-user"></i>
            <button onclick="press_en()" class="lang-picker_en" type="button">
                <span class="fi fi-gb"></span>
                <p style="color: black;">EN</p>
                <i style="color: black;" class="fa-solid fa-chevron-down"></i>
            </button>
        </div>
    </div>