@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.EN, .CY {
  display: none;
}

.EN.show,
.CY.show {
  display: block;
}


/* -- GLOBAL STYLE SHEET --  */


/* -- TABLE OF CONTENT -- */

/* - ROOT VARIABLES */
/* - LAYOUTS & CONTAINERS */
/*    - Grid Container */
/*    - Two-Column Container */
/*    - Three-Column Container */
/* - DEFAULT LOGO STYLES */
/* - DEFAULT CARD STYLES  */
/* - DEFAULT FONTS STYLES */
/* - UTILS STYLES */
/*    - Hover Styles */
/*    - Separator */
/*    - 'Test' Banner */

/* ----- Media Queries ----- */
/* ## TABLET STYLES */
/* ## LAPTOP STYLES */
/* ## DESKTOP STYLES */




/* ROOT VARIABLES */

:root {
  --mobile-max: 768px;
  --tablet-max: 1024px;
  --laptop-min: 1025px;
  --laptop-max: 1440px;
  --desktop-min: 1441px;

  --primary-color: #AA0D1B;
  --secondary-color: #164B63;
  --bg-color: #f5f5f5;

  --text-color: black;
  --box-shadow: 0px 0px 46px 0px rgba(99, 99, 99, 0.15);
  --border-radius: 0.8rem;
  --btn-padding: 10px 20px;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif !important;
  background-color: var(--background-color) !important;
  color: var(--text-color);
  height: 100vh;
}

a:visited {
  color: var(--text-color);
}

/*   ## MOBILE(DEFAULT) STYLES (up to 768px wide) */
/*      Your mobile/default styles go here   */


/* LAYOUTS & CONTAINERS */

/* Grid Container */
.container {
  display: grid;
  gap: 1em;
  margin: 1em;
}

/* Two-Column Container */
.two-column {
  grid-template-columns: 1fr 1fr;
}

/* Three-Column Container */
.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}

/* DEFAULT LOGO STYLES */
.sw_logo {
  width: 120px;
}


/* DEFAULT CARD STYLES */
.card {
  background-color: white;
  border-radius: var(--border-radius) !important;
  box-shadow: var(--box-shadow);
  border: none !important;
}


/* DEFAULT FONTS STYLES */

.header-l {
  font-size: large;
}
.header-m {
  font-size: medium;
}
.header-s {
  font-size: small;
}

.subheader-l {
  font-size: large;
}
.subheader-m {
  font-size: medium;
}
.subheader-s {
  font-size: small;
}

.txt-l {
  font-size: large;
}
.txt-m {
  font-size: medium;
}
.txt-s {
  font-size: small;
}


/* HOVER STYLES */


.hover-list li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(255, 254, 254);
  display: block;
  transition: 0.5s;
  margin: auto;
  position: relative;
}

.hover-list li:hover::after {
  width: 100%;
}

/* UTILS STYLES */

/* Hover Styles */

.hover-list li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(255, 254, 254);
  display: block;
  transition: 0.5s;
  margin: auto;
  position: relative;
}

.hover-list li:hover::after {
  width: 100%;
}

/* Separator */

.vertical_separator {
  border: 1px solid rgba(0, 0, 0, 0.352);
  width: 1px;
  height: auto;
  margin: 0 5px;
}

/* Breadcrumb styles */

.breadcrumbs {
  position: relative;
  left: -10px;
}
.breadcrumbs li {
  font-size: 16px
}

.breadcrumb-item a {
  color: rgba(0, 0, 0, 0.39);
  /* color: var(--secondary-color); */
}

.breadcrumb-item a:hover {
  color: #164B63;
  font-weight: 400;
}

.breadcrumbs .breadcrumb-item.active {
   color: #164B63;
   font-weight: 200;
}


/* test banner */

#test_banner {
  padding: 10px;
  border-bottom: 1px solid rgb(186, 186, 186);
  margin: 0 10px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgb(71, 71, 71);
}

#banner_test_flag {
  background-color: #1d70b8;
  padding: 0.25rem;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-right: 7px;
}

a.btn {
  color: #fff!important;
}

a.btn-outline-danger {
  color: red!important;
}


/*   ## TABLET STYLES (769px to 1024px wide) */
@media screen and (min-width: var(--tablet-min)) and (max-width: var(--tablet-max)) {
     /* Your tablet-specific styles go here */
  /* - {NAME} STYLES */
}


/*   ## LAPTOP STYLES (1025px to 1440px wide) */
@media screen and (min-width: var(--laptop-min)) and (max-width: var(--laptop-max)) {
     /* Your laptop-specific styles go here */
  /* - {NAME} STYLES */
}


/*   ## DESKTOP STYLES (1441px wide and above) */
@media screen and (min-width: var(--desktop-min)) {
     /* Your desktop-specific styles go here */
  /* - {NAME} STYLES */
}

