/*         TABLE OF CONTEXT             */
/*                                      */
/*                                      */
/*    -SUBMIT BUTTON                    */
/*       -Login Button                  */
/*       -Singin Button                 */
/*    -SOCIAL BUTTONS STYLES            */
/*       -Social Containers             */
/*       -Social buttons                */
/*       -separators                    */
/*                                      */
/*                                      */
/*                                      */

:root {
  --primary-color: red;
  --secondary-color: white;
  --background-color: #f5f5f5;

  --text-color: black;
  --box-shadow: 0px 0px 46px 0px rgba(99, 99, 99, 0.15);
  --border-radius: 0.8rem;
  --btn-padding: 10px 20px;
}

/* SW BUTTON */
/* h2 {
    font-family:open sans;
    color:#fff;
    position: relative;
    display:inline-block;
    padding:10px 20px
  }
  h2:after {
    background: #3498db;
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      -webkit-transform: skew(-9deg);
      -moz-transform: skew(-9deg); 
      -o-transform: skew(-9deg); 
      z-index: -1;
  } */

/* SUBMIT BUTTON */

.sw_btn {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #aa0d1b;
  color: white;
  border: 1px soild black;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sw_primary-btn {
  background-color: #aa0d1b;
  padding: 10px 25px;
}

.sw_secondary-btn {
  background-color: #ffffff;
  padding: 10px 25px;
  color: black;
}

.sw_primary-btn:hover {
  padding: 10px 25px;
  background-color: #df1425;
}

/* Primary Button Component */
.btn-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: var(--btn-padding);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Add smooth transition */
}

.btn-primary:hover {
  background-color: rgba(159, 4, 4);
  color: var(--secondary-color);
}

/* Secondary Button Component */
.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: var(--btn-padding);
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    border-color 0.3s ease-in-out; /* Add smooth transition */
}

.btn-secondary:hover {
  background-color: rgb(234, 233, 233);
  color: var(--primary-color);
}

/* Login Button */

.login-btn[type="submit"] {
  width: 60px;
  padding: 8px 20px;
  background-color: #aa0d1b;
  color: #fff;
}

.login-btn[type="submit"]:hover {
  background-color: #df1425;
}

/* Signin Button */

.signin-btn[type="submit"] {
  width: 90px;
  padding: 8px 20px;
  background-color: #aa0d1b;
  color: #fff;
}

.signin-btn[type="submit"]:hover {
  background-color: #df1425;
}

/* SOCIAL BUTTONS STYLES */

/* Social Containers */
.social-login-container {
  display: flex;
  gap: 0.5em;
}

.social-login-container p {
  margin-bottom: 10px;
  font-weight: bold;
}

.social-login-long-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.social-login-long-container p {
  margin-bottom: 10px;
}

/* social buttons */

.social-button {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: rgb(0, 0, 0);
  border: 1px solid #5d5c5c;
  border-radius: 2px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.social-button p {
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.486);
}

.social-button:hover p {
  color: rgb(0, 0, 0);
}

.social-button:hover {
  background-color: #f5f5f5;
}

/* separators  */

.or_separator {
  display: flex;
  align-items: center;
}
.or_separator span {
  border: 1px solid rgba(0, 0, 0, 0.075);
  width: 80%;
  height: 0.5px;
}
.or_separator p {
  margin: 5px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.322);
}
