<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cards Comp</title>



    <!-- FONTAWESOME  -->
    <script src="https://kit.fontawesome.com/937b7e56e6.js" crossorigin="anonymous"></script>


    <!-- GOOGLE FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">

    <!-- STYLE SHEETS  -->
    <link rel="stylesheet" type="text/css" href="/CSS/global/styles.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/design_container/design_container.css"/>
    <link rel="stylesheet" type="text/css" href="/Assets/components/cards/cards.css"/>



    <!-- http://127.0.0.1:5500/Assets/components/cards/cards.html -->
    
</head>

<body>
    <!-- <div class="design-system-header">
        <div class="design-system-logo">
            <a href="index.html"><img src="/Assets/img/Sport Wales logos/Logos - White/Sport Wales - Logo_White.svg" alt="Sport Wales Logo"></a>
        </div>

        <div class="design-system-nav">
            <ul class="hover-list">
                <li><a style="color: white;"  href="/Assets/menu.html"> Menu </a></li>
            </ul>
        </div>
        <h1>DESIGN SYSTEM</h1>
    </div> -->

    
        <!-- CARD 1 CONTAINER -->
        <div class="design-system-container">
            
            <!-- CARD 1 -->

            <div class="card-container">
                <div class="card1">
                    <div class="card-item">
                        <div class="circle-icon">
                            <i class="fa-solid fa-2xl fa-hand-holding-heart"></i>
                         </div> 
                        <p>Support and Funding</p>
                    </div>
                </div>
                <div class="card1">
                    <div class="card-item">
                        <div class="circle-icon">
                            <i class="fa-solid fa-2xl fa-hand-holding-heart"></i>
                        </div> 
                        <p>Support and Funding</p>
                    </div>
                </div>
                <div class="card1">
                    <div class="card-item">
                        <div class="circle-icon">
                            <i class="fa-solid fa-2xl fa-hand-holding-heart"></i>
                        </div> 
                        <p>Support and Funding</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    
</body>

</html>