{% extends "base.njk" %}

{% block content %}
    <div class="container">
        <h1>Whoops!</h1>
        <p>You've become lost.</p>
        <div>
            <div class="btn btn-danger mb-3"><a href="pages/portal.html">Let's go home</a></div>
        </div>
    </div>
{% endblock %}