<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ensures no search engine will display page: -->
    <meta name="robots" content="noindex, nofollow">
    <title>{{ pageTitle }}</title>
    <link rel="icon" href="../assets/icons/sw_favicon.ico" type="image/x-icon">  
    <!-- FONTAWESOME  -->
    <script src="https://kit.fontawesome.com/937b7e56e6.js" crossorigin="anonymous"></script>
    <!-- FLAGS -->
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.11.0/css/flag-icons.min.css"
        />
    <!-- GOOGLE FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- STYLE SHEETS  -->
    <link rel="stylesheet" type="text/css" href="../css/global/styles.css">
    <link rel="stylesheet" type="text/css" href="../css/single_signon/styles.css">
    <link rel="stylesheet" type="text/css" href="../css/portal/styles.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/components/headers_footers/header_footer.css">
    <link rel="stylesheet" type="text/css" href="../assets/components/login_signin_forms/login_signin_forms.css">    
    <link rel="stylesheet" type="text/css" href="../assets/components/buttons/buttons.css">
    <link rel="stylesheet" type="text/css" href="../assets/components/cards/cards.css"/>
    <link rel="stylesheet" type="text/css" href="../css/booking/styles.css" />
    <link rel="stylesheet" type="text/css" href="../assets/components/headers_footers/header_footer.css"/>
    <link rel="stylesheet" type="text/css" href="../css/education/education.css" />
    <link rel="stylesheet" type="text/css" href="../assets/components/login_signin_forms/login_signin_forms.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/components/buttons/buttons.css"/>
    <!-- THIRD PARTY CDNs -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.1/dist/index.umd.min.js"></script>
    <title>{{ pageTitle }}</title>
</head>
<body> 
    
        {% include 'includes/header.njk' %}
        {% include 'includes/test_banner.njk' %}

        
        <!-- NUNJUCKS CHILD TEMPLATE CONTENT -->
        {% block content %}{% endblock %}
    
        {% include 'includes/footer.njk' %}
        <!-- THIRD PARTY JS CDNs -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

         <!-- Global JS -->
         <script src="../js/global/global.js"></script>

        <!-- Page Translations -->
        <script src="../js/translation/translation.js"></script>
        <script > console.log("lang test:", "{{lang}}")</script>
</body>
</html>
