{% extends "base_booking.njk" %}

{% block content %}
    
    <div class="container">
        <nav class="breadcrumbs" aria-label="breadcrumb">
            <ol style="background-color: transparent;" class="breadcrumb">
                <li class="breadcrumb-item"><a href="portal.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Manage bookings</li>
            </ol>
        </nav>
        <h1 class="font-weight-bold mt-5 mb-5">Make a booking with the National Centre</h1>
        <p>Sport Wales National Centre is owned and managed by Sport Wales. Users have access to the facilities of one of the country’s largest and most well equipped sports centres and can enjoy the same standards of facilities provided for our elite athletes.</p>
        <h2>Services available to book</h2>
    <!-- cards -->
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <h3 class="pb-3 font-weight-bold mt-3 mb-3">Courts</h3>
                    <a class="btn btn-outline-danger mb-3" href="booking_courts.html" role="button">Make a booking</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <h3 class="pb-3 font-weight-bold mt-3 mb-3">Classes</h3>
                    <a class="btn btn-outline-danger mb-3" href="" role="button">Make a booking</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <h3 class="pb-3 font-weight-bold mt-3 mb-3">Meeting rooms</h3>
                    <a class="btn btn-outline-danger mb-3" href="" role="button">Make a booking</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <h3 class="pb-3 font-weight-bold mt-3 mb-3">Event hire</h3>
                    <a class="btn btn-outline-danger mb-3" href="" role="button">Make a booking</a>
                </div>
            </div>
        </div>
        <h2>Become a member with us</h2>
        <p>Sport Wales National Centre is owned and managed by Sport Wales. Users have access to the facilities of one of the country’s largest and most well equipped sports centres and can enjoy the same standards of facilities provided for our elite athletes.</p>
        <a class="btn btn-danger mb-3" href="" role="button">Become a member</a>
        <div class="row">
            <div class="col-lg-6">
                <h2 class="mb-4 mt-4">Opening hours</h2>
                <ul>
                    <li>Monday	6:30am to 11pm</li>
                    <li>Tuesday	6:30am to 11pm</li>
                    <li>Wednesday 6:30am to 11pm</li>
                    <li>Thursday 6:30am to 11pm</li>
                    <li>Friday 6:30am to 11pm</li>
                    <li>Saturday 7am to 9:30pm</li>
                    <li>Sunday	7am to 9:30pm</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div style="background-color: transparent" class="col-lg-6">
                <div class="card map_container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9937.969090723413!2d-3.1905556!3d51.4858333!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486e1ca6c0340f07%3A0xfc485e8a14d53c4!2sSport%20Wales%20National%20Centre!5e0!3m2!1sen!2suk!4v1695201726719!5m2!1sen!2suk" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            </div>
        </div>
    </div>

{% endblock %}