{% extends "base.njk" %}

{% block content %}
    <div class="main">
        <div class="citbag_nav">
                <img src="https://citbag.sport.wales/wp-content/themes/citbag1-1-21/img/citbag-logo.png" alt="Citbag Logo" class="cigbag_img">
                <ul class="hover-list">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="index.html">Progression Steps</a></li>
                    <li><a href="booking.html">Teacher Resources</a></li>
                    <li><a href="../index.html">Pupil Assessment Tracker</a></li>
                    <li><a href="../index.html">Log Out</a></li>
                </ul>
        </div>
        <div class="education_header_container">
          <div class="education_header_img">
           <img src="../assets/img/Newport Live-98 1.png" alt="children playing football" class="education_img">
           <div class="img_shade"></div>
          </div>
          <div class="search_bar">
            <div class="input-group">
              <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
              <button type="button" class="btn btn-warning">Search </button>
            </div>
          </div>
          
        </div>
        <div class="education_container">

        <div class="progession_steps_container">
          <div class="progession_steps">
            <h2>Progession Steps And Skills</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ducimus aliquid necessitatibus reprehenderit voluptatem voluptas! Sapiente, quos in saepe eaque quas dignissimos laboriosam dicta ut repellat iste, rerum labore voluptatibus?</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit natus consequatur corporis eum voluptates pariatur ipsum est accusantium reprehenderit esse?</p>
            <button type="button" class="btn btn-warning">View resources</button>
          </div>
          <div class="img">
            <i class="fa-regular fa-image"></i>
          </div>
        </div>

        <div class="pupil_Assessment_container">
          <div class="img">
            <i class="fa-regular fa-image"></i>
          </div>
          <div class="pupil_Assessment">
            <h2>Pupil Assessment Tracker</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ducimus aliquid necessitatibus reprehenderit voluptatem voluptas! Sapiente, quos in saepe eaque quas dignissimos laboriosam dicta ut repellat iste, rerum labore voluptatibus?</p>
             <div class="btn_container">
              <button type="button" class="btn btn-warning">Download Now </button>
              <button type="button" class="btn btn-outline-primary">Find out more</button>
             </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}