{% extends "base.njk" %}
    

    {% block content %}

    <div class="main">
            <div class="container">
                <div class="sw_title">
                    <h1 class="font-weight-bold mt-5 mb-5">Welcome to Sport Wales Portal</h1> 
                </div>
                <div class="single-portal-layout">
                    <!-- LOGIN FORM  -->
                    <div class="login_signin-container ">
                        
                        <form id="login-form" class="login_signin-form login login-validation" novalidate>
                            <h2>Log in to your account</h2>
                            <div class="form-outline" >
                                <div style="margin: 10px 0px;" class="invalid-feedback invalid-user_pass">Username or password is incorrect please try again </div>
                                <label for="username">Username or email address</label>
                                <input type="text" class="form-control"  name="username"  required>
                                <div class="invalid-feedback">Please enter your username or email</div>
                                </div>
                            <div class="">
                                <label for="password">Password:</label>
                                <div class="form-outline password_input">
                                    <input type="password" class="form-control" name="password" value="" required>
                                    <div class="invalid-feedback">Please enter your password</div>
                                    <!-- <i class="fa-regular fa-eye"></i> -->
                                </div>
                            </div>

                            <div class="or_separator">
                                <span></span>
                                <p>or</p>
                                <span></span>
                            </div>

                            <div class="social-login-container">
                                <button class="social-button google"><i class="fa-brands fa-google"></i></button>
                                <button class="social-button facebook"><i class="fa-brands fa-facebook"></i></button>
                                <button class="social-button apple"><i class="fa-brands fa-apple"></i></button>
                            </div>
                            
                            <button class="btn btn-danger" type="submit"><a style="color: white;" >Login</a></button>
                        </div>
                        </form>   
                        <div class="vertical_separator"> </div>

                    <!-- SIGNIN FORM  -->

                    <div class="login_signin-container">
                        <form id="signup-form" class="login_signin-form signin signup-validation" novalidate>
                            <h2>Register account</h2>
                            <div class="form-outline">
                                <div style="margin: 10px 0px;" class="invalid-feedback invalid-user_taken">Username or email is already taken </div>
                                <label for="username">Username or email address</label>
                                <input type="text" class="form-control" id="username_signup" name="username" value="" required>
                                <div class="invalid-feedback">Please choose a username or email</div>
                            </div>
                            <div class="form-outline">
                                <label for="password">Password:</label>
                                <div class="password_input">
                                    <input type="password" class="form-control" id="password_signup" name="password"  required>
                                    <div class="invalid-feedback">Please choose a password</div>
                                    <!-- <i class="fa-regular fa-eye"></i> -->
                                </div>
                            </div>
                            
                            <div class="or_separator">
                                <span></span>
                                <p>or</p>
                                <span></span>
                            </div>
                            <div class="social-login-long-container">
                                <button class="social-button google"><i class="fa-brands fa-google"></i> <p>Sign up with Google</p>  </button>
                                <button class="social-button facebook"><i class="fa-brands fa-facebook"></i> <p>Sign up with Facebook</p>  </button>
                                <button class="social-button apple"><i class="fa-brands fa-apple"></i> <p>Sign up with Apple</p>   </button>
                            </div>
                            <button class="btn btn-danger" type="submit"><a style="color: white;" >Sign up</a></button>
                        </form>  
                    </div> 
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
