{% extends "base.njk" %}

    {% block content %}
    <div class="main">
        <div class="home-bg-image">
            <h1 class="font-weight-bold mt-5 mb-5">The Sport Wales Portal</h1>
            <p>
            Welcome to the Portal, where you can learn, apply for funding and make a
            booking all in one place
            </p>
        </div>
        <div class="container">
            <!-- CARD 1 -->

            <div class="card-container">
            
            <a href="funding.html" class="card1">
                <div class="card-item">
                <div class="circle-icon">
                    <i class="fa-solid fa-2xl fa-hand-holding-heart"></i>
                </div>
                <p>Support and Funding</p>
                </div>
            </a>
            
            <a href="booking.html"  class="card1">
                <div class="card-item">
                <div class="circle-icon">
                    <i class="fa-solid fa-2xl fa-book-bookmark"></i>
                </div>
                <p>Manage Booking</p>
                </div>
            </a>

            <a href="education.html" class="card1">
                <div class="card-item">
                <div class="circle-icon">
                    <i class="fa-solid fa-2xl fa-graduation-cap"></i>
                </div>
                <p>Education Resources</p>
                </div>
            </a>
            </div>

            <div class="container">
            <h1 class="font-weight-bold mt-5 mb-5">Your account</h1>
            </div>

            <div class="card">
            <div class="mt-3 mb-3 pl-4 pt-4">
                <i style="color: #164b63; font-size: 60px; margin: 10px; margin-bottom: 40px;" class="fa-solid fa-2xl fa-hand-holding-heart"></i>
            </div>
            <h2 class="mt-3 ml-2 pl-4 pb-1 font-weight-bold">
                <strong>Your funding applications</strong>
            </h2>
            <div class="container ml-3 p-4">
                <div class="row">
                <div class="col-lg-6">
                    <p class="mb-0">
                    You applied for the <strong>Active Wales Fund </strong> on the
                    18th October 2022
                    </p>
                    <div class="btn btn-danger mt-5">Go to Funding</div>
                </div>
                <div class="col-lg-6">
                    <p class="mb-0" style="font-weight: bolder">
                    Application status
                    </p>
                    <br />
                    <p
                    class="p-1"
                    style="
                        background-color: rgb(190, 172, 217);
                        display: inline;
                        font-weight: bolder;
                    "
                    >
                    RECEIVED
                    </p>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-lg-6">
                <div class="card">
                <div class="ml-4 p-4">
                    <div class="mt-3 mb-3">
                    <i
                        style="color: #164b63; font-size: 50px;  margin: 10px; margin-bottom: 40px;"
                        class="fa-solid fa-2xl fa-book-bookmark"
                    ></i>
                    </div>
                    <h3 class="pb-3 font-weight-bold">Your bookings</h3>
                    <p>You booked <strong>Tennis</strong> for the 20th Jan 2022</p>
                    <br />
                    <div class="btn btn-danger mt-5">Manage Booking</div>
                </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                <div class="ml-4 p-4">
                    <div class="mt-3 mb-3">
                    <i
                        style="color: #164b63; font-size: 50px;  margin: 10px; margin-bottom: 40px;"
                        class="fa-solid fa-2xl fa-graduation-cap"
                    ></i>
                    </div>
                    <h3 class="pb-3 font-weight-bold">Your courses</h3>
                    <p>
                    Teachers! find the right resources for your students at any
                    skil level.
                    </p>
                    <div class="btn btn-danger mt-5">View all Learning</div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-lg-6">
                <div class="m-5">
                <div>
                    <h3 class="pb-3 font-weight-bold">About us</h3>
                    <p>
                    We Want Wales to be more active, healther nation. We are
                    national organisation responsible for developing and promoting
                    sport and phsical activity in Wales
                    </p>
                    <p>
                    We are national organisation responsible for developing and
                    promoting sport and phsical activity in Wales
                    </p>
                    <p>Explore mre on our work to help sport in Wales thrive</p>
                    <div class="btn btn-danger mt-5">Learn about us</div>
                </div>
                </div>
            </div>
            <div style="background-color: transparent" class="col-lg-6">
                <div class="card map_container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9937.969090723413!2d-3.1905556!3d51.4858333!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486e1ca6c0340f07%3A0xfc485e8a14d53c4!2sSport%20Wales%20National%20Centre!5e0!3m2!1sen!2suk!4v1695201726719!5m2!1sen!2suk" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            </div>
        </div>
    </div>
    
    {% endblock %}