{% extends "base.njk" %}

    {% block content %}
        <div class="container">
            <h1>Hello world, this is my test page</h1>
            <p>Test lorem ipsum</p>
        </div>

    {% endblock %}