/* Home page specific styles */

/* Target the .main */
.main {
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* Target the .single-portal-layout */
.single-portal-layout {
  display: flex;
  padding: 0px 10%;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
}

/* Target the .sw_title */
.sw_title {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 50px auto; /* Reduce top margin for mobile optimisation */
  
}

.sw_title h1 {
  font-weight: bolder;
  font-size: 32px; /* Adjust font size for mobile */
}

/* Media Queries */

/* Tablet Styling */
@media screen and (min-width: 860px) {
  .single-portal-layout {
    flex-direction: row;
  }
  /* Adjust .sw_title */
  .sw_title {
    margin: 80px auto; /* Increase top margin for tablets */
  }

  .sw_title h1 {
    font-size: 36px; /* Adjust font size for tablets */
  }

  /* Any additional tablet-specific styles go here */
}

/* Laptop Styling */
@media screen and (min-width: 1025px) {
  .single-portal-layout {
    flex-direction: row;
  }
  /* Adjust .sw_title */
  .sw_title {
    margin: 120px auto; /* Increase top margin for laptops */
    margin-bottom: 70px;
  }

  .sw_title h1 {
    font-size: 40px; /* Adjust font size for laptops */
  }

  /* Any additional laptop-specific styles go here */
}

/* Desktop Styling */
@media screen and (min-width: 1441px) {
  .single-portal-layout {
    flex-direction: row;
  }
  /* Adjust .sw_title */
  .sw_title {
    margin: 140px auto; /* Increase top margin for desktops */
  }

  .sw_title h1 {
    font-size: 44px; /* Adjust font size for desktops */
  }

  /* Any additional desktop-specific styles go here */
}
