/* -- EDUCATION STYLE SHEET --  */


/* -- TABLE OF CONTENT -- */

/* - ROOT VARIABLES */
/* - CITBAG NAVIGATION  */
/*    - {Name} Container */
/*    - {Name} */
/* - {NAME} STYLES */
/*    - {Name} Container */
/*    - {Name} */

/* ----- Media Queries ----- */
/* ## TABLET STYLES */
/*    - {Name} */
/* ## LAPTOP STYLES */
/*    - {Name} */
/* ## DESKTOP STYLES */
/*    - {Name} */




/* ROOT VARIABLES */

:root {
    --mobile-max: 768px;
    --tablet-max: 1024px;
    --laptop-min: 1025px;
    --laptop-max: 1440px;
    --desktop-min: 1441px;
  
    --primary-color: #e32434;
    --secondary-color: #164B63;
    --bg-color: #f5f5f5;
  
    --text-color: black;
    --box-shadow: 0px 0px 46px 0px rgba(99, 99, 99, 0.15);
    --border-radius: 0.8rem;
    --btn-padding: 10px 20px;
  }
  
  
  
  /*   ## MOBILE(DEFAULT) STYLES (up to 768px wide) */
  /*      Your mobile/default styles go here */
  
  
  /* CITBAG NAVIGATION */
  .citbag_nav {
    padding: 20px 10%;
    background-color: #e32434;
    color: white;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}




.citbag_nav ul {
  display: none;
  flex: 0.8;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.citbag_nav-collapse {
  background-color: #e32434;
  color: white;
}

.citbag_nav-collapse ul {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  color: white !important;
  
} 

.citbag_nav-collapse ul li a {
    text-decoration: none;
    color: white;
}


.citbag_nav ul li a {
    color: white ;
    text-wrap: nowrap;
    margin: 0px 5px;
    text-decoration: none;
    font-size: 2vw;
}

.cigbag_img {
  margin-right: 15px;
  width: 80px;
}

.education_header_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 550px;
  margin-bottom: 100px;
  overflow: hidden;
}

.education_header_img {
  position: relative;
  top: -100px;
  display: flex;
  justify-content: end;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-color:#e32434;
  /* transform: skewY(-4deg); */

}


.education_img {
     height: 88%;
     width: 100%;
     position: relative;
     top: 50px;
}


.img_shade {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(227, 36, 52, 0.902),
    rgb(227, 36, 52)
  );
}


.search_bar {
  position: relative;
  top: -350px;
  padding: 0px 5%;
}

.search_bar .form-control {
  margin-right: 20px;
}

.education_container {
  position: relative;
  top: -340px;
  display: grid;
  grid-template-rows: 0.7fr 0.3fr;
  padding: 0px 8%;
  gap: 1em;
  
}

.progession_steps_container,
.pupil_assessment_container {
      display: grid;
      grid-template-columns: 1fr;
  
}

.progession_steps,
.pupil_assessment {
  padding: 25px;
  border-radius: 15px 15px 0px 0px ;
}

.progession_steps {
  background-color: #2c5d74;
  color: white;
  border-radius: 15px 15px 0px 0px ;
}

.pupil_assessment {
  border-radius: 0px 0px 15px 15px ;
}

.progession_steps_container .img {
  background-color: #164B63;
  border-radius: 0px 0px 15px 15px ;
}

.pupil_assessment_container .img {
  background-color: #e6e6e6;
  border-radius: 15px 15px 0px 0px ;
}

.progession_steps_container .img,
.pupil_assessment_container .img {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img i {
  font-size: 10vw;
  color: rgba(0, 0, 0, 0.228);
}
  
.btn_container {
  display: flex;
  gap: 1em;
  text-wrap: nowrap;
}

.btn-outline-primary {
  color: #164B63 !important;
  border: 1px solid #164B63 !important;
}

.btn-outline-primary:hover {
  background-color: #22607cde !important;
  color: white !important;
}

  /*   ## TABLET (769px or bigger) */
  @media screen and (min-width: 769px) {
    /*    Your Mobile only styles go here */
    
    .citbag_nav ul {
      display: flex;

    }

    .citbag_nav.collapse ul {
      display: none;
    }
    .cigbag_img {
      width: 80px;
      height: 25px;
    }

    .citbag_nav ul li a {
      font-size: 1.2vw;
      
  }

    .education_header_img {
      top: -100px;
      display: flex;
      justify-content: end;
    }
    
    
    .education_img {

        top: 60px;
        width: 48%;
    }

    .search_bar {
      top: -350px;
      left: 0%;
      padding: 0px 22%;
    }

  .education_container {
    top: -280px;
    padding: 0px 15%;
  }
  .progession_steps_container,
  .pupil_assessment_container {
      grid-template-columns: 1fr 1fr; 

}
   .progession_steps_container .img,
   .pupil_assessment_container .img {
      height: auto;
   }

   .progession_steps_container p,
  .pupil_assessment_container p {
      margin: 20px;

}

   .progession_steps_container .img{
      border-radius: 0px 15px 15px 0px ;
   }
   .pupil_assessment_container .img {
      border-radius: 15px 0px 0px 15px ;
   }

   .progession_steps {
      border-radius: 15px 0px 0px 15px ;
      padding: 40px;

   }
   .pupil_assessment {
      border-radius: 0px 15px 15px 0px ;
      padding: 40px;
   }

   .img i {
      font-size: 4vw; 
   }
  }
  

  
  
  /*   ## LAPTOP STYLES (1025px to 1440px wide) */
  @media screen and (min-width: var(--laptop-min)) and (max-width: var(--laptop-max)) {
    /*    Your laptop-specific styles go here */
    /* - {NAME} STYLES */
  }
  
  
  
  /*   ## DESKTOP STYLES (1441px wide and above) */
  @media screen and (min-width: 1441px) {
    /*    Your desktop-specific styles go here */

    .citbag_nav img {
      width: 90px;
      height: 50px;
    }
    .education_header_container {
      height: 1000px;
    }

    .search_bar {
      top: -500px;
      width: 75%;
      
    }

    .search_bar .form-control {
      font-size: 40px;
    }

    .search_bar .btn {
      padding: 0px 25px;
      border-radius: 10px;

    }

    .education_container {
      padding: 0px 34%;
    }


  }
  
